launch/__pycache__/testable_interface_robot1.test.launch.cpython-310.pyc
launch/__pycache__/testable_interface_robot2.test.launch.cpython-310.pyc
launch/__pycache__/transmission_wrapper_robot1.test.launch.cpython-310.pyc
launch/__pycache__/transmission_wrapper_robot2.test.launch.cpython-310.pyc
launch/__pycache__/transmission_wrapper.test.launch.cpython-310.pyc
