<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robee">
    <xacro:arg name="initial_positions_file" default="$(find robee_hardware_interface)/config/initial_positions.yaml" />
    <xacro:arg name="use_fake_hardware" default="false"/>
    <xacro:arg name="sim_ignition" default="false"/>


    <!-- Import robee urdf file -->
    <xacro:include filename="$(find robee_description)/urdf/robee.urdf.xacro" />

    <!-- Import robee ros2_control description -->
    <xacro:include filename="robee.ros2_control.xacro" />

    <!-- Set fake system for case  when working with rviz only (no gazeebo and no real controler) -->
    <xacro:robee_ros2_control name="RobeeArmSystem" initial_positions_file="$(arg initial_positions_file)"  use_fake_hardware="$(arg use_fake_hardware)"  sim_ignition="$(arg sim_ignition)"/>
</robot>
